$background-color:black;
$light-color:rgb(238, 226, 226);

header{
    color: white;
    background: $background-color;
    h1{
        padding-top: 20px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: solid 6px wheat;
    padding-right: 0px;
    margin: 0px;
    }
    .navBar{
        ul{
        li{
            list-style: none;
            float: right;
            padding: 0.5rem;
            a{
            color: white;
            text-decoration: none;
            
        }
        a:hover{
            color: orangered;
        }
        }
        
    }
    }
}

footer{
    background-color: black;
    color: cornsilk;
    padding: 20px;
    border-top: darkslategray;

    h3{
        padding-bottom: 20px;
    }

    .row{
        text-align: center;
        a{
        text-decoration: none;
        color: white;
    }
    
    }
    

}
